<table class="table table-bordered">
    <thead>
    <tr>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Nota</th>
        <th>Faltas</th>
        <th>Situação</th>
        <th>Ações</th> </tr>
    </thead>
    <tbody>
    <tr th:each="mat : ${matriculas}">
        <td th:text="${mat.disciplina.nome}">Matemática</td>
        <td th:text="${mat.disciplina.professor}">Prof X</td>
        <td th:text="${mat.nota}">10.0</td>
        <td th:text="${mat.faltas}">0</td>
        <td>
        </td>
        <td>
            <a th:href="@{/sistema/matricula/{id}/editar(id=${mat.id})}" class="btn btn-warning btn-sm">
                Editar
            </a>
        </td>
    </tr>
    </tbody>
</table>